<footer>
    <small>
        <a href="/top">SCHOOLIFE口コミ</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "help", help_path%></li> 
            <li><%= link_to "詳細ページへ",about_path%></li>
            <li><%= link_to "Contact", contact_path%></li>
            <li>2021年10月21日　影山亮太</li>
        </ul>
    </nav>
</footer>