<header>
    <div class="container">
      <%= link_to "SCOOL口コミ", root_path, id:"logo" %>
      <nav>
        <ul>
          
          <li><%=link_to "概要", about_path%></li>
          <li><%= link_to "login", "#" %></li>
          <li><%=link_to "ヘルプ", help_path%></li>
        </ul>
      </nav>
    </div>
  </header>